<html>
<head>
	<!-- 字符集 -->
	<meta charset="utf-8">
	<!-- 网站标题 -->
	<title>欢迎！</title>
	<!-- DIY CSS -->
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<h1>登录以查看D3期刊聚类图：</h1>
	<hr>
	<form action="get_D3_j2j" method="GET">
		用户名: <input type="text" name="user_name">  
		<br>
		密码: <input type="password" name="user_pwd">
		<input type="submit" value="提交">
	</form>
	<hr>
	<h1>免登录查看D3样例：</h1>
	<hr>
	<form action="get_D3_map" method="GET">
		<input type="submit" value="查看">
	</form>
</body>
</html>